body,
html {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

h1 {
  color: goldenrod;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#message-el {
  font-style: italic;
}

#startGame,
#newCard {
  color: #016f32;
  width: 150px;
  height: 40px;
  background-color: goldenrod;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 12px;
}

#startGame:hover {
  cursor: pointer;
  background-color: rgb(231, 173, 25);
  transition: all 0.4s;
}

#newCard {
  visibility: hidden;
}

#newCard:hover {
  cursor: pointer;
  background-color: rgb(231, 173, 25);
  transition: all 0.4s;
}
